#top-part {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

#flexSwitchCheckDefault {
  font-size: 26px;
  left: 35px;
  position: relative;
}

#flexSwitchCheckDefault:checked {
  background-color: rgb(85, 93, 160);
}

#mode i {
  position: relative;
  top: 7px;
  /* color: aliceblue; */
  /* left: -25px; */
}

.fa-moon {
  left: 3px;
  /* opacity: 0.6; */
  transition: opacity 0.5s ease;
  color: rgb(5, 9, 38);
}

.fa-sun {
  left: -37.2px;
}

#history-icon {
  position: relative;
  left: 50px;
  top: 7px;
}

.history {
  padding: 10px;
  border-radius: 22px;
  position: absolute;
  left: -76px;
  top: -16px;
  background: var(--bg-color);
  color: var(--text-color);
  /* border: 2px solid black; */
  width: 236px;
  height: 84px;
  display: flex;
  flex-direction: column;
}
